VERCEL_OIDC_TOKEN=eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJleHAiOjQxMDI0NDQ4MDAsImlhdCI6MTg5MzQ1NjAwMCwiaXNzIjoiZmFrZS1sb2NhbCJ9.fake-signature
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
